#!/usr/sbin nft -f

flush ruleset


table ip nat {
	chain postrouting {
		type nat hook postrouting priority srcnat; policy accept;
		ip saddr 10.10.0.0/24 oif "{{ target_interface }}" masquerade
	}
}