define myas = 65512;
router id {{ hostvars[inventory_hostname]["ansible_"~
    hostvars[inventory_hostname]["ansible_facts"]["target_interface"]]['ipv4']['address']
}};

protocol device {
    scan time 10;
}

protocol kernel {
  persist;
  scan time 10;
  merge paths yes;
  ipv4 {
    export all;
  };
}

protocol static {
  ipv4;
}

{% for nodename in groups["nodes"]%}
protocol bgp {{ nodename }}_bgp{
  local {{ hostvars[inventory_hostname]["ansible_"~
    hostvars[inventory_hostname]["ansible_facts"]["target_interface"]]['ipv4']['address']
  }} as myas;
  neighbor {{ hostvars[nodename]["ansible_"~
    hostvars[nodename]["ansible_facts"]["target_interface"]]['ipv4']['address']
  }} as myas;
  direct;
  ipv4 {
    import all;
    export all;
  };
}

{%endfor%}