#!/bin/bash

TYPE=$1
NAME=$2
STATE=$3

case $STATE in
        "MASTER") systemctl start haproxy
                  ip link set dev {{ external_interface }} down
                  ip addr flush dev {{ external_interface }} 
                  {% if master_mac_override != "" %}
                  ip link set dev {{ external_interface }} address {{ master_mac_override }}
                  {% endif %}
                  ip addr add {{master_ipv4['address']}}/{{master_ipv4['prefix']}} dev {{ external_interface }}
                  ip route add default via {{master_ipv4['gateway']}}
                  ip link set dev {{ external_interface }} up
                  exit 0
                  ;;
        "BACKUP") systemctl stop haproxy
                  exit 0
                  ;;
        # NOTE(luisd): While FAULT states are not implemented yet, we still 
        #  handle the case. It could be implemented in the future eg.: if 
        #  the internet on the router fails.
        "FAULT")  systemctl stop haproxy
                  exit 0
                  ;;
        *)        echo "unknown state"
                  exit 1
                  ;;
esac